extends ../base
block title
    | Index page

block main
    //header.header_wrap
        .header_bg
            .container
                .row
                    .header_content
                        a(href='/').logo
                            img(src='./img/logo.svg')
                        .feedback
                            .rate
                                ul
                                    li
                                        img(src='./img/star.svg')
                                    li
                                        img(src='./img/star.svg')
                                    li
                                        img(src='./img/star.svg')
                                    li
                                        img(src='./img/star.svg')
                                    li
                                        img(src='./img/star_half.svg')
                                .rate_current
                                    span.current 8.4
                                    span.current_max /10
                            .feedback_company
                                img(src='./img/feedbackcompany.svg')
        .header_separate

    //section.partner
        .container
            .row
                .partner_wrap
                    .info
                        span Bent u onze nieuwe partner?
                        p Lorem ipsum dolor sit amet, consectetur adipisc-ing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facilisis. Mauris mattis nec sem nec ﬁnibus. Nunc eget leo ut diam imperdiet vehicula ac non elit. Pellentesque nisi neque, sodales nec sem et, condimentum congue ligula. Integer non ullamcorper lacus, sed luctus sapien.

                        .select_wrap
                            button.openSelect De mogelijkheden
                            ul.selectMenu
                                li.selected De mogelijkheden
                                li text 2
                                li text 3
                                li text 4
                    .partner_logo
                        img(src='./img/timo_partner.svg')

    //section
        .container
            .row
                .advantages_wrap
                    .advantage
                        img(src='./img/services/range.png')
                        span.title Groot bereik
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/freeSignup.png')
                        span.title Gratis aanmelden
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/service.png')
                        span.title Klantenservice
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/support.png')
                        span.title Support en inzage
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/money.png')
                        span.title Verdien geld
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/quality.png')
                        span.title Kwalitatief aanbod
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/wrench.png')
                        span.title Maatwerk oplossingen
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.

                    .advantage
                        img(src='./img/services/thumbs.png')
                        span.title Gemak
                        span.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facil. cu sed nulla lacinia, quis blandit eros facil.
    //footer
        .footer_wrap
            .container
                .row
                    .footer
                        span © 2013 - 2019  Vliegenenparkeren.nl - Alle rechten voorbehouden
                        span Bedrijfsgegevens / Privacy policy / Algemene voorwaarden / Sitemap











